server {
    listen   80;
    access_log /var/log/app-logs/test-access.log;

    server_name localhost;
    location / {
            root            /var/www/uwsgi;
            uwsgi_pass      127.0.0.1:3031;
            include         uwsgi_params;
    }
}